In [ ]:
데이터 : FRED ( https://raw.githubusercontent.com/sm-joo/sm-joo/master/DEXKOUS.csv)
    한국과, 미국의 환률 데이터 (2015)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.tsa.stattools import adfuller

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/sm-joo/sm-joo/master/DEXKOUS.csv', parse_dates=['DATE'],  index_col = 'DATE')
df.head()

            DEXKOUS
DATE
2015-03-13   1135.7
2015-03-16  1129.62
2015-03-17  1127.69
2015-03-18  1127.09
2015-03-19  1121.21

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1306 entries, 2015-03-13 to 2020-03-13
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DEXKOUS  1306 non-null   object
dtypes: object(1)
memory usage: 20.4+ KB

In [6]:
df.columns=['KOUS']
df['KOUS'].replace('.', ' ', inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1306 entries, 2015-03-13 to 2020-03-13
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   KOUS    1306 non-null   object
dtypes: object(1)
memory usage: 20.4+ KB

In [8]:
df['KOUS']=pd.to_numeric(df['KOUS'])

ValueError: Unable to parse string " " at position 51